img.galeria {
    height: 200px;
}

img.galeria:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.column {
    width: 25%;
    display: inline-block;
    overflow: hidden;
}


.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}


.rowleft
{
    overflow:auto;
    white-space: nowrap;

}
.rowright {
    margin: auto;
    width: 80%;

}

.rowright:after {
    content: "";
    display: table;
    clear: both;
}

#imgtext {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.container {
    position: relative;
    display: none;
}

#expandedImg {
    width: 100%;
    float: left;
}

.galeria {
    width: 100%;
}

@media screen and (min-width: 3000px) {
    img.galeria {
        height: 500px;
    }
}

@media screen and (max-width: 1000px) {

    img.galeria {
        height: 70px;
    }

    .galeria {
        width: 80%;
        margin: auto;
    }


}