.post {

    color: white;
    background-color: #111111;
    width: 80%;
    margin-left: 5%;
    padding: 1%;
    text-align: left;
    line-height: 2;

}
.tresc {

    background-color: #222222;
    padding: 5%;

}

h2 {
    text-align: left;
    font-size: 250%;
}

audio {
    width: 80%;
}

video {
    width: 80%;
}

.podpis{
    font-size: 80%;
    text-align: right;
}