th {
    color:white;
    font-size: 200%;
    width: 25%;
    height: 50px;
    border: none;
    padding-bottom: 2%;
    padding-top: 2%;


}

tr:nth-child(odd) { background-color:#444444; }
tr:nth-child(even) { background-color:#920000; }

td {
    color:white;
    font-size: 200%;
    width: 25%;
    height: 50px;

}

.tlogo {
    width: 100%;
}

.turnieje {

    padding: 2%;
    border: none;
    line-height: 1;
    width: 96%;
}

