
#autorskie {
    width: 100%;
    float: left;
    line-height: 1;
    background-color: #333333;
    color:white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.formularz {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    float: left;
    color:white;
    background-color: #222222;
    line-height: 2;


}

table {
    margin: auto;
}


textarea {
    width: 50%;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#informacje {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    float: left;
    background-color: #111111;
    line-height: 2;
}

.wyslij {
        padding: 1%;
        background-color: green;
        border: none;
}

.reset {
    padding: 1%;
    background-color: #f44336;
    border: none;
}


input[type=text], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=submit]:hover , input[type=reset]:hover {
    background-color: white;
}

@media screen and (max-width: 1000px) {
    textarea {
        height: 200px;
    }
}
@media screen and (min-width: 3000px) {
    form {
        font-size: 150%;
    }

    input[type=text], input[type=email], input[type=reset], input[type=submit] {
        font-size: 150%;
    }
}